<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="./styling/main.css"/>
</head>
<body>

<div class="container-fluid text-center top-container">
    <img src="./images/Lifechoices.png" height="38px" width="100px">
</div>
<div class="container">
    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/Index.html" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="./templates/courses.html" class="nav-link active">Classes</a></li>
                <li class="nav-item"><a href="./templates/enrollment.html" class="nav-link active">My Enrollment</a></li>
                <li class="nav-item"><a href="./Enrollment" class="nav-link active">Register</a></li>
                <li class="nav-item"><a href="./templates/login.html" class="nav-link active">Login</a></li>
                <!-- <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link">Logout</a></li> -->


            </ul>
        </nav>
        <hr style="clear:both">
    </header>
</div>
<div class="container-fluid text-center bottom-container">
    <footer>
        <p>Copyright &copy;2021. Nathan Giose. All rights reserved.</p>
    </footer>
</div>
</body>
</html>