*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #C9B4FC;

}

.container-items{
    height: 70vh;
    width: 30vw;
    background-color: white;
    border-radius: 25px;
}

.headers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.headers h3{
    margin-bottom: 10px;
    color:aquamarine;
    font-size: 25px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    border: none;
    border-bottom: 2px solid aquamarine;
    width: 50%;
    outline: none;
    margin-bottom: 35px;
}


